bundles/org.eclipse.efbt.model/xsd_model/trl_report_cell_views.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:module_management="http://www.eclipse.org/module_management" xmlns:reports="http://www.eclipse.org/reports" xmlns:trl_report_cell_views="http://www.eclipse.org/trl_report_cell_views" xmlns:trl_sql_views="http://www.eclipse.org/trl_sql_views" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="trl_report_cell_views" ecore:package="trl_report_cell_views" targetNamespace="http://www.eclipse.org/trl_report_cell_views">
  <xsd:import namespace="http://www.eclipse.org/module_management" schemaLocation="module_management.xsd"/>
  <xsd:import namespace="http://www.eclipse.org/reports" schemaLocation="reports.xsd"/>
  <xsd:import namespace="http://www.eclipse.org/trl_sql_views" schemaLocation="trl_sql_views.xsd"/>
  <xsd:annotation>
    <xsd:documentation> This package describes TRL preport cell views
</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:appinfo ecore:key="license" source="license">Copyright (c) 2020 Bird Software Solutions Ltd
 All rights reserved. This file and the accompanying materials are made available under the terms of the Eclipse Public License v2.0 which accompanies this distribution, and is available at http://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0 

 Contributors:
 Neil Mackenzie - initial API and implementation&#13;</xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="ReportCellView">
    <xsd:annotation>
      <xsd:documentation>A ReportCellView is an SQL View which has the explicit purpose of calculating one report cell.
      ReportCells are represented as a TargetCube with one row. This cube has multiple Dimensions columns and one Measure Column.
      The Dimension fields for table are set to be specific members of that dimension. 
      Similar concepts exist in the taxonomy of XBRL reporting language and DataPointModelling.
      For example a ReportCellView which has a sourceCube of trade, associated measure 'amount' and associated dimensions Currency and Country,
      where it has been specified that Currency will equal USD and Country will equal US, will lead to the amount measure
      being populated with the sum of the amount field in the Trade table, for all rows in the Trade Table  where Currency=USD AND Country = US.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="trl_sql_views:SQLView">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" minOccurs="0" name="reportCell" type="reports:ReportCell">
            <xsd:annotation>
              <xsd:documentation>The report cell</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReportCellViewModule">
    <xsd:annotation>
      <xsd:documentation>A Module containing a set of ReportCellViews </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="module_management:Module">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="reportCellViews" type="trl_report_cell_views:ReportCellView">
            <xsd:annotation>
              <xsd:documentation>The set of ReportCellViews</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
